body {
    margin: 0;
    padding: 0;
}
h2 {
    color:white;
}

header {
    background-color: #e5e5e5;
    display: flex;
    justify-content: space-between;
}
ul {
    text-decoration: none;
    list-style: none;
}
ul li a {
    text-decoration: none;
}
.manual-select {
    outline: 2px solid orange;
}
footer {
    background-color: black;
}
.banner {
    background-color: #e58311;
    padding:15px;
    border-radius: 10px;
    color:white;
}
.links {
    display: flex;
}
.footer-links {
    display: flex;
}
.content-section {
    background-color: rgb(100, 100, 100);
}